

*{
    margin: 0%; 
    padding: 0%;
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 110%;
}
.header-linea{
    padding: 0.8vh 0 2vh 1vw;
    margin-top: 0.2vh;
    display: inline-block;
    
}
.logo{
    width: 18vw;
    height: auto;
    padding-top: 0;
}
h1{
    color: royalblue;
}

.s1{
    padding-top: 0;
    display: grid;
    grid-template-columns: auto auto;
    width: 50vw;
    place-items: center;
    margin: auto;
}
.item_nombre{
    font-size: 3rem;
    text-align: center;
   } 
    
.item_nombre_index{
justify-content: center;
}

.img-producto{
    width: 20vw;
    height: auto;
    margin: 1%;
    border-radius: 8%;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
      }

fieldset {
    height: 54vh;
    padding: 2rem;
    border: 3px solid cadetblue;
    border-radius: 15%;
   
  }

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}
  
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: cadetblue;
    border-color: white;
    min-width: 300px;
}
div[class="grid-block"]{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    background-image: url('../img/nubes_fondo.jpg');
    border-radius: 15%;
    height: 57vh;
  }

 

@media only screen and (max-width: 600px){
    header{
        background-color: cadetblue;
        position: fixed;
        width: 100%;
        height: 11vh ;
        border-radius: 0 0 30% 30%;
    } 
    .menu-img{
        width: 18vw;
        height: auto;
    } 
    main{
        padding-top: 20vh;
    }
    .swiper {
        width: 70vw;
        height: 38vh;
        border-radius: 15%;
    }
    .swiper-slide{ 
        background: cadetblue;
        font-size: 1.3em;
        padding-top: 0.8em;
        text-align: center;
      }
    .img-slider{
        width: 43vw;
        height: auto;
        border-radius: 15%;
      }
      .swiper-container {
        height: 50vh;
     
    }
    .s2{
        place-items: center;
        margin: auto;
        display: grid;
    
    }
    
    .s3{
        background-color: cadetblue;
        border: solid 8px;
        border-color: aquamarine;
        border-radius: 25%;
        padding: 4% 4% 4% 2%;
        display: grid;
        grid-template-columns: 25vw 30vw;
        width: 55vw;
        place-items: center;
        margin: 5px;
        
    }
    .articulos{
        padding-left: 10vw;
        font-size: 0.5em;
    }
}
@media only screen and (min-width: 768px){
    header{
        position: fixed;
        width: 100%;
        height: 17vh;
        padding: 0%;
        margin: 0%;
        border-radius: 0 0 30% 30%;
        background-color: cadetblue;
    }
    .menu-img{
        width: 16vw;
        height: auto;
        
    } 
    main{
        padding-top: 18%;
    }
    .swiper {
        width: 50vw;
        height: 50vh;
        border-radius: 15%;
        margin-top: 10vh;
    } 
    .swiper-slide{ 
        background: cadetblue;
        font-size: 2em;
        padding-top: 0.8em;
        text-align: center;
      }
    .img-slider{
        width: 30vw;
        height: auto;
        border-radius: 15%;
      }
      .swiper-container {
        height: 50vh;
     
    }
    .s2{
        place-items: center;
        margin: auto;
        display: grid;
    
    }
    
    .s3{
        background-color: cadetblue;
        border: solid 8px;
        border-color: aquamarine;
        border-radius: 25%;
        padding: 4% 4% 4% 2%;
        display: grid;
        grid-template-columns: 25vw 30vw;
        width: 55vw;
        place-items: center;
        font-size: 1rem;
        
    }
    .articulos{
        padding-left: 10vw;
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 992px){
    header{
        position: fixed;
        background-color: cadetblue;
        width: 100%;
        height: auto;
        padding: 0%;
        margin: 0%;
        border-radius: 0 0 30% 30%;
        flex-flow: row wrap;
    }
    .menu-img{
        width: 16vw;
        height: auto;
        
    } 
    main{
        padding-top: 28vh;
    }
    .swiper {
        width: 40vw;
        height: 33vw;
        border-radius: 15%;
        margin: 0;
    }
    .swiper-slide{ 
        background: cadetblue;
        font-size: 3em;
        padding-top: 0.8em;
        text-align: center;
      }
    .img-slider{
        width: 20vw;
        height: auto;
        border-radius: 15%;
      }
    .swiper-container {
        height: 50vh;
      }
    .s2{
        place-items: center;
        margin: auto;
        display: grid;
    
    }
    
    .s3{
        background-color: cadetblue;
        border: solid 8px;
        border-color: aquamarine;
        border-radius: 25%;
        padding: 4% 4% 4% 2%;
        display: grid;
        grid-template-columns: 25vw 30vw;
        width: 55vw;
        place-items: center;
        margin: 5px;
        
    }
    .articulos{
        padding-left: 10vw;
        font-size: 1.3em;
    }
}
