

*{
    margin: 0%; 
    padding: 0%;
    font-family: 'Bubblegum Sans', sans-serif;
}

.header-linea{
    padding: 2vh 0 2vh 1vw;
    display: inline-block;
    
}

.logo{
    width: 15vw;
    height: auto;

}

.menu-img{
    width: 20vw;
    height: auto;
    
} 

header{
    position: fixed;
    background-color: cadetblue;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

h1{
    color: royalblue;
}

.s1{
    padding-top: 35vh;
}