<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <title>Market</title>
</head>
<body>
    <header>
        <nav class="header-linea">
            <img class="logo" src="/img/Oso-Aviador-1024x697.png" alt="Osito">
            <a class="menu" href="../index.html"><img class="menu-img" src="/img/INICIO.png" alt=""></a>
            <a class="menu" href="market.html"><img class="menu-img" src="/img/MARKET.png" alt=""></a>
            <a class="menu" href="carrito.html"><img class="menu-img" src="/img/CARRITO.png" alt=""></a>
            <a class="menu" href="quienes_somos.html"><img class="menu-img" src="/img/QUIENES SOMOS.png" alt=""></a>
        </nav>
    </header>
    <main>  
        <div class="s2">
            <div class="s3">
                <div>
                    <h2>Bolson Dia del parto 1</h2>
                    <img src="/img/010.png" alt="" class="img-producto">   
                </div>      
                <div class="articulos">
                    <ul>
                        <li>1 Caja gasas Gasana 160 unidades</li>
                        <li>1 Caja hisopos de seguridad para bebes 30 unidades</li>
                        <li>1 Protector mamario Doncella 24 unid.</li>
                        <li>1 Apósitos post parto Doncella 10 unid</li>
                        <li>1 Pañales 8 unid talle P (Huggies, Pampers o BabySec)</li>
                        <li>1 Algodón Estrella 140gr</li>
                        <li>1 Óleo calcáreo Simply Baby 500ml</li>
                        <li>1 Shampoo Johnson 200ml</li>
                        <li>1 Toallitas húmedas 48 unid Huggies</li>
                        <li>1 Alcohol 500ml</li>
                        <li>1 Talco Johnson 200gr</li>
                    </ul>
                </div>
            </div>
            <div class="s3">
                <div>
                    <h2>Bolson Dia del parto 2</h2>
                    <img src="/img/020.webp" alt="" class="img-producto"> 
                </div>
                <div class="articulos">
                    <ul>
                        <li>1 Cambiador</li>
                        <li>1 Babero con plástico atrás</li>
                        <li>2 Babitas de toalla</li>
                        <li>1 Paquete de pañales 12 unid talle P</li>
                        <li>1 Óleo calcáreo 500ml</li>
                        <li>1 Talco Johnson</li>
                        <li>1 Algodon 140gr</li>
                        <li>1 Toallas húmedas 48 unid</li>
                        <li>1 Shampoo 200ml</li>
                        <li>1 Colonia 100ml</li>
                        <li>1 Jabon 80gr</li>
                        <li>1 Alcohol 500ml</li>
                        <li>1 Protector mamario x24 unid</li>
                        <li>1 Apositos post parto 10 unid</li>
                        <li>2 Sobres de gasas</li>
                    </ul>
                </div>
            </div>
            <div class="s3">
                <div>
                    <h2>Bolson Dia del parto 3</h2>
                    <img src="/img/030.webp" alt="" class="img-producto"> 
                </div>
                <div class="articulos">
                    <ul>
                        <li>1 Cambiador</li>
                        <li>1 Babero con plástico atrás</li>
                        <li>2 Babitas de toalla</li>
                        <li>1 Paquete de pañales 12 unid talle P</li>
                        <li>1 Óleo calcáreo 500ml</li>
                        <li>1 Talco Johnson</li>
                        <li>1 Algodon 140gr</li>
                        <li>1 Toallas húmedas 48 unid</li>
                        <li>1 Shampoo 200ml</li>
                        <li>1 Colonia 100ml</li>
                        <li>1 Jabon 80grs</li>
                        <li>1 Alcohol 500ml</li>
                        <li>1 Protector mamario x24 unid</li>
                        <li>1 Apositos post parto 10 unid</li>
                        <li>2 Sobres de gasas</li>
                    </ul>
                </div>
            </div>
            <div class="s3">
                <div>
                    <h2> Bolson Dia del parto 4</h2>
                    <img src="/img/040.webp" alt="" class="img-producto"> 
                </div>
                <div class="articulos">
                    <ul>
                        <li>1 Apositos post parto 10 unid</li>
                        <li>1 Protector mamario x24 unid</li>
                        <li>1 Alcohol 500ml</li>
                        <li>2 Paquetes de gasas</li>
                        <li>2 Babitas de toallas</li>
                        <li>1 Crema de Caléndula</li>
                        <li>1 Paquete de pañales 12 unid</li>
                        <li>1 Par de medias</li>
                        <li>1 Algodón estrella</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
</html>