<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
   
    <title>Market</title>
</head>
<body>
    <header>
        <div class="header-linea">
            <img class="logo" src="/img/Oso-Aviador-1024x697.png" alt="Osito">
        </div>

        <nav class="header-linea">
            <a class="menu" href="../index.html"><img class="menu-img" src="/img/INICIO.png" alt=""></a>
            <a class="menu" href="market.html"><img class="menu-img" src="/img/MARKET.png" alt=""></a>
            <a class="menu" href="carrito.html"><img class="menu-img" src="/img/CARRITO.png" alt=""></a>
            <a class="menu" href="quienes_somos.html"><img class="menu-img" src="/img/QUIENES SOMOS.png" alt=""></a>
        </nav>
    </header>
    <section>
        
        <h1>Productos</h1>
    
        <div>

        </div>
    </section>
</body>
</html>